/resources/public/js/compiled/**
figwheel_server.log
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/js/compiled
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein*
.repl
.nrepl-port
.idea
*.iml
